.attachment {
  @include tablet {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__details {
    color: #555555;
    display: block;
    font-size: rem(12px);
  }
  &__button {
    border: 2px solid $link;
    display: inline-block;
    margin-top: 15px;
    padding: 3px 10px;
    @include tablet {
      margin-top: 0;
    }
  }
}